<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- serve actual static files: -->
<!-- <script src="static/main.js"></script> -->
<!-- serve coffeescript compiled on the fly: -->
<script src="static2/main.js"></script>
<script>
google.load("visualization", "1", {packages:["corechart"]});
$(document).ready(function() {
  google.setOnLoadCallback(main);
});
</script>
</head>
<body>
<!-- <a href="#" id="refresh">refresh</a> -->
<a href="#" id="polldaemons">poll daemons</a>
<div id="chart_div1" style="width: 400px; height: 400px; float: left;"></div>
<div id="chart_div2" style="width: 400px; height: 400px; float: left;"></div>
</body>
</html>
